.advantages {
  width: 320px;
  min-height: 51px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-family: @font-1;
  font-size: 14px;
  line-height: 21px;
}

.advantages__item {
  box-sizing: border-box;
  width: 320px;
  background: #eeeeee;
  margin: 0;
}

.advantages__item--special {
  color: @color-white;
  background: @color-blue;
}

.advantages__text {
  width: 280px;
  margin: 0 20px;
}

.advantages__item--city,
.advantages__item--bridge {
  width: 320px;
  height: 260px;
}

.advantages__item--city {
  background: url("../img/main-city-mobile@1x.jpg");
}

.advantages__item--bridge {
  background: red url("../img/main-bridge-mobile@1x.jpg");
}

@media (min-width: @tablet-width) {
  .advantages {
    width: auto;
    margin: 0 auto;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: @tablet-width;
    margin: 0 auto;
  }

  .advantages__item {
    width: 33%;
  }

  .advantages__text {
    width: auto;
    margin: 0 auto;
  }

  .advantages__item--special .advantages__text {
    width: 33%;
    margin: 0;
  }

  .advantages__item--city,
  .advantages__item--bridge {
    width: 67%;
  }

  .advantages__item--city {
    background: url("../img/main-city-tablet@1x.jpg") no-repeat;
  }

  .advantages__item--bridge {
    background: url("../img/main-bridge-tablet@1x.jpg") no-repeat;
  }

  .advantages__item--special {
    width: 768px;
    height: 256px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: auto;
    margin: 0 auto;
  }

  .advantages__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: @desktop-width;
    margin: 0 auto;
  }

  .advantages__item {
    width: 400px;
  }

  .advantages__text {
    width: 400px;
    height: 256px;
    margin: 0;
  }

  .advantages__title {
    font-size: 21px;
  }

  .advantages__item--city,
  .advantages__item--bridge {
    width: 800px;
  }

  .advantages__item--city {
    background: url("../img/main-city-desktop@1x.jpg") no-repeat;
  }

  .advantages__item--bridge {
    background: url("../img/main-bridge-desktop@1x.jpg") no-repeat;
  }

  .advantages__item--special {
    background: @color-blue;
    width: @desktop-width;
    height: 256px;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }
}
