.advantages {
  display: flex;
  flex-direction: column;
  min-height: 51px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-family: @font-1;
  font-size: 14px;
  line-height: 21px;
}

.advantages__item {
  width: auto;
  background: #eeeeee;
}

.advantages__item--main-city,
.advantages__item--main-bridge {
  color: @color-white;
  background: @color-blue;
}

.advantages__text {
  width: 280px;
  margin: 0 auto;
  border-bottom: 1px solid #d6d6d6;
}

.advantages__item--main-city .advantages__text,
.advantages__item--main-bridge .advantages__text {
  border-bottom: 0;
}

.advantages__item--tourists .advantages__text {
  border-bottom: 0;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-top: 26px;
  margin-bottom: 10px;
}

.advantages__item--main-city .advantages__title,
.advantages__item--main-bridge .advantages__title {
  margin-top: 76px;
}

.advantages__description {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 24px;
}

.advantages__item--main-city .advantages__description,
.advantages__item--main-bridge .advantages__description {
  margin-top: 14px;
  margin-bottom: 40px;
}

.advantages__item--square .advantages__description {
  margin-bottom: 27px;
}

.advantages__item--road .advantages__description {
  margin-top: 14px;
  margin-bottom: 29px;
  padding: 0 15px;
}

.advantages__item--tourists .advantages__description {
  margin-bottom: 27px;
  padding: 0 15px;
}

.advantages__img--city,
.advantages__img--bridge {
  width: auto;
  height: 260px;
}

.advantages__img--city {
  background: url("../img/main-city-desktop@1x.jpg") no-repeat 50% 0;
}

.advantages__img--bridge {
  background: url("../img/main-bridge-desktop@1x.jpg") no-repeat 50% 0;
  order: 2;
}

.advantages__item--main-bridge {
  display: flex;
  flex-direction: column;
}

.advantages__item--main-bridge .advantages__text {
  order: 1;
}

.advantages__item--main-bridge .advantages__title {
  margin-top: 40px;
}

@media (min-width: @tablet-width) {
  .advantages {
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 33%;
    margin: 0;
    height: 256px;
  }

  .advantages__item--main-city,
  .advantages__item--main-bridge {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 256px;
  }

  .advantages__text {
    width: auto;
    margin: 0 auto;
    border: 0;
  }

  .advantages__item--main-city .advantages__text,
  .advantages__item--main-bridge .advantages__text {
    width: 33%;
    height: 256px;
    margin: 0 auto;
  }

  .advantages__img--city,
  .advantages__img--bridge {
    width: 67%;
    height: 256px;
  }

  .advantages__img--city {
    background: url("../img/main-city-tablet@1x.jpg") no-repeat;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/main-city-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .advantages__img--bridge {
    background: url("../img/main-bridge-tablet@1x.jpg") no-repeat;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/main-bridge-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .advantages__title {
    font-size: 21px;
    line-height: 26px;
    margin: 0 auto;
    width: 170px;
    margin-top: 44px;
    margin-bottom: 12px;
  }

  .advantages__item--main-city .advantages__title,
  .advantages__item--main-bridge .advantages__title {
    width: 150px;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 10px;
  }

  .advantages__item--road .advantages__description {
    width: 140px;
    margin-top: 22px;
  }

  .advantages__item--tourists .advantages__title {
    width: 110px;
  }

  .advantages__description {
    width: 170px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .advantages__item--main-city .advantages__description,
  .advantages__item--main-bridge .advantages__description {
    width: 160px;
    margin: 0 auto;
    margin-top: 21px;
  }

  .advantages__item--main-bridge .advantages__img--bridge {
    order: 1;
  }

  .advantages__item--main-bridge .advantages__text {
    order: 2;
  }
}

@media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .advantages__img--city {
    background: url("../img/main-city-tablet@2x.jpg");
    background-size: cover;
  }

  .advantages__img--bridge {
    background: url("../img/main-bridge-tablet@2x.jpg");
    background-size: cover;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: auto;
    margin: 0 auto;
  }

  .advantages__item {
    width: 400px;
  }

  .advantages__text {
    width: 400px;
    height: 256px;
    margin: 0;
  }

  .advantages__title {
    font-size: 21px;
  }

  .advantages__description {
    width: 290px;
  }

  .advantages__item--road .advantages__description {
    width: 270px;
    margin-top: 20px;
  }

  .advantages__item--main-city .advantages__title,
  .advantages__item--main-bridge .advantages__title {
    margin-top: 50px;
    margin-bottom: 13px;
  }

  .advantages__item--main-city .advantages__description {
    width: 266px;
  }

  .advantages__item--main-bridge .advantages__description {
    width: 220px;
  }

  .advantages__img--city,
  .advantages__img--bridge {
    width: 800px;
  }

  .advantages__img--city {
    background: url("../img/main-city-desktop@1x.jpg") no-repeat 50% 0;
    background-size: cover;
    background-position: center 0;
  }

  .advantages__img--bridge {
    background: url("../img/main-bridge-desktop@1x.jpg") no-repeat 50% 0;
    background-size: cover;
    background-position: center 0;
  }

  .advantages__item--main-city,
  .advantages__item--main-bridge {
    background: @color-blue;
    width: @desktop-width;
    height: 256px;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }
}
