.btn {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  background: @color-blue;
  color: @color-white;
  cursor: pointer;
  border: none;
  padding: 20px;

  &:hover {
    background: #669ec0;
  }

  &:active {
    color: #88b6d1;
    background: #5496bd;
  }

  &:disabled {
    background: #e5e5e5;
  }
}
