.feauters__list {
  width: 320px;
  margin: 0 auto;
  color: #000000;
  /* Временно для сетки */
  min-height: 50px;
}

@media (min-width: @tablet-width) {
  .feauters__list {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .feauters__list {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0;
  }
}
