.feauters__list {
  width: 320px;
  margin: 0 auto;
  color: @color-black;
  /* Временно для сетки */
  min-height: 50px;
}

@media (min-width: @tablet-width) {
  .feauters__list {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0;
  }

  .feauters__item {
    width: 256px;
  }
}

@media (min-width: @desktop-width) {
  .feauters__list {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0;
  }

  .feauters__item {
    width: 400px;
  }
}

.feauters__item {
  width: 320px;
}

.feauters__title {
  text-transform: uppercase;
  font-family: @font-1;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.feauters__item p {
  text-transform: uppercase;
  font-family: @font-1;
  font-size: 14px;
  line-height: 21px;
}
