.hotel {
  font-family: @font-1;
  background: @color-white;
  text-align: center;
}

.hotel__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.hotel__description {
  font-size: 21px;
  line-height: 24px;
  text-transform: uppercase;
}
