.hotel {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: @font-1;
  background: @color-white;
  text-align: center;

  /* Временно для сетки */
  min-height: 570px;
}

.hotel__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.hotel__description {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .hotel {
    width: 460px;
  }

  .hotel__title {
    font-size: 30px;
    line-height: 26px;
  }
}
