.main-nav__logo {
  height: 57px;
  text-align: center;

  width: 320px;
  margin: 0 auto;

  background-color: @color-white;
}

@media (min-width: @tablet-width) {
  .main-nav__logo img {
    display: block;
    height: auto;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__logo img {
    display: block;
    width: 188px;
    height: auto;
    margin: 0 auto;
  }
}
