.main-nav {
  width: 320px;
  margin: 0 auto;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav a {
  background: #81b3d2;
  list-style: none;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-around;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    width: 1200px;
  }
}
