.main-nav__list {
  list-style: none;
}

.main-nav a {
  background: #81b3d2;
  list-style: none;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}
