.page-footer {
  width: 320px;
  margin: 0 auto;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.page-footer__hashtag {
  display: flex;
  justify-content: center;
  width: 152px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 38px;
}

.page-footer__social {
  width: 152px;
  margin: 0 auto;
  margin-bottom: 39px;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  margin: 0 auto;
  margin-bottom: 23px;
  padding: 0;
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 12px;
}

.copyright__link {
  font-size: 0;
  width: 27px;
  height: 34px;

  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill: #b2b2b2;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: auto;
  }

  .page-footer__wrapper {
    width: 648px;
    padding-top: 32px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .page-footer__hashtag {
    margin: 0;
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__copyright {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: auto;
  }

  .page-footer__wrapper {
    width: 960px;
    padding: 36px 0;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .page-footer__hashtag {
    margin: 0;
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__copyright {
    margin: 0;
  }
}
