.page-title h1 {
  display: inline-block;
  color: #000000;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}

.page-title h2 {
  color: #000000;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  margin: 0;
}

.page-title {
  width: 320px;
  margin: 0 auto;
  background: #ffffff;
  text-align: center;
}

.page-title__wrapper {
  width: 280px;
}

@media (min-width: @tablet-width) {
  .page-title {
    width: auto;
    margin: 0;
  }

  .page-title__wrapper {
    width: 648px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-title {
    width: auto;
    margin: 0;
  }

  .page-title__wrapper {
    width: 800px;
    margin: 0 auto;
  }
}
