.page-main h1 {
  color: #000000;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.page-main h2 {
  color: #000000;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}
