.page-title {
  margin: 0 auto;
  background: @color-white;
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
}

.page-title__wrapper {
  width: 280px;
  margin: 0 auto;
}

.page-title__slogan,
.page-title__slogan--photo {
  display: block;
  color: @color-black;
  text-transform: uppercase;
  text-align: center;
  font-family: @font-1;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0 9px;
  margin-top: 41px;
  margin-bottom: 27px;
}

.page-title__intro {
  color: @color-black;
  text-transform: uppercase;
  text-align: center;
  font-family: @font-1;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  margin: 0;
}

.page-title__triangle {
  margin: 0;
  width: auto;
  height: 37px;
}

@media (min-width: @tablet-width) {
  .page-title {
    width: auto;
    margin: 0;
    border: none;
  }

  .page-title__wrapper {
    width: 648px;
    margin: 0 auto;
  }

  .page-title__slogan {
    width: 460px;
    font-size: 21px;
    line-height: 26px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 29px;
  }

  .page-title__intro {
    margin-bottom: 52px;
  }
}

@media (min-width: @desktop-width) {
  .page-title {
    width: auto;
    margin: 0;
  }

  .page-title__wrapper {
    width: 800px;
    margin: 0 auto;
  }

  .page-title__slogan--photo {
    font-size: 30px;
    line-height: 26px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
