.reviews {
  width: auto;
  margin: 0 auto;
  /* Временно для сетки */
  min-height: 50px;
}

.reviews__list {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: auto;
    margin: 0;
  }

  .reviews__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: auto;
    margin: 0;
  }

  .reviews__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
  }
}
