.reviews__text {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.reviews__author-name {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.reviews__likes {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .reviews__item--special {
    width: 648px;
    /* Временно для сетки */
    min-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__item--special {
    width: 1200px;
    /* Временно для сетки */
    min-height: 50px;
  }
}
