.reviews__item {
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: center;
}

.reviews__item p {
  margin: 0;
}

.reviews__picture-name {
  text-transform: uppercase;
  font-family: @font-1;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.reviews__author-name {
  font-family: @font-1;
  font-size: 14px;
  line-height: 24px;
}

.reviews__likes {
  text-transform: uppercase;
  font-family: @font-1;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  background: transparent;
  border: none;
}

@media (min-width: @tablet-width) {
  .reviews__item {
    width: 324px;
    background: #f2f2f2;
    border: 0;
  }

  .reviews__text {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .reviews__item--special {
    width: 648px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__item {
    position: relative;
    width: 400px;
    height: 267px;
  }

  .reviews__text {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    color: @color-white;
  }

  .reviews__likes {
    color: @color-white;
  }

  .reviews__likes path {
    fill: #ffffff;
  }

  .reviews__item--special {
    width: 1200px;
    height: 400px;
  }
}
